@{
    ViewBag.Title = "About Eureka Interiors";
}
@*<h2>@ViewBag.Title</h2>*@

<h3>About Eureka Interiors</h3>

<p>We are interior design and decoration specialists based in Pune. We add beauty in all kinds of place - residential or commercial.</p>

<h3>About Founder</h3>

<p>Hello, I am Rachana Attal. I love designing interiors! It is my passion! In my college time, I would always be seen in my interior design classes.</p>

<p>I started my career in Human Resources. But when I wanted to do interior of my home, I felt necessity of good interior services needed in Pune.</p>

<p>So I started my firm in 2013. I have tried my best to give unique identity to every project that I have worked on.</p>

<h3>Our Teams</h3>

<p>We have teams setup to do specialized work like carpentry, painting. Meet some of our team members. </p>

<p>Junior Designer - </p>
<p>Carpenter - </p>
<p>Eletrician - </p>
<p>POP - </p>
<p>Painter - </p>
<p>Plumber - </p>


<h3>Our Associations</h3>

<p>We are associated with following companies. Our partners / vendors help to serve you better.</p>

<img src="~/Images/Associate/urbanclaplogo.png" style="width:15%" />
<img src="~/Images/Associate/sulekhalogo.png" />
<img src="~/Images/Associate/justdiallogo.png" />
<img src="~/Images/Associate/designbids.png" />


