
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
.servicecell{
    height:150px;
}
</style>
<h2>Services</h2>

<p>You can select from our following service options</p>

<div class="row">
    <div class="col-md-6">
        <h4>E-Design</h4>
        <img src="~/Images/e-design.png" alt="e-design" class="servicecell" />
        <p>Send us your plan. Our designers will give you best suitable options for interior. You will get 2D plan, elevation, 3D designs and working drawing.</p>
    </div>
    <div class="col-md-6">
        <h4>Project Design</h4>
        <img src="~/Images/project-design.png" alt="project-design" class="servicecell"/>
        <p>Our associate will visit your site. We will get exact measurements and provide you best suitable options. You will get 2D plan, elevation, 3D designs and working drawing.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h4>Complete Interior</h4>
        <img src="~/Images/design-execution.png" alt="design-execution" class="servicecell" />
        <p>We will design, execute and handover site to you. We take care of your choice, lifestyle needs and our desinging &Aacute; execution team takes care of the rest!</p>
    </div>
    <div class="col-md-6">
        <h4>Project Execution</h4>
        <img src="~/Images/execution.png" alt="project-execution" class="servicecell" />
        <p>You have exact picture of what you want. We execute project as per your imagination.</p>
    </div>
</div>
