
@{
    ViewBag.Title = "Solutions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Solutions</h2>

<h4>Carpentry</h4>
    <p>Our carpenty finish will have unifrom grooves across furniture edges.</p>
<h4>POP</h4>
    <p>Main ingredient for POP is Gypsum. We never compromise on material quality. We use Saint Globain or similar brand quality Gypsum sheets.</p>
<h4>Kitchen</h4>
    <p>We use 303 quality stainless steel tralley baskets. We use machine finishing.</p>
<h4>Home Decor</h4>
    <p></p>
<h4>Wall Art</h4>
    <p></p>
<h4>Vinyl Flooring</h4>
<h4>Painting</h4>
    <p>Color combination is the most important part of getting look for your home. We provide exact combinations to suit design.</p>
<h4>Plumbing</h4>
    <p>It is essential work for any project. This is very important part of work in renovation projects.</p>


<h4>Eletrical Wiring</h4>

