@{
    ViewBag.Title = "Terms and Conditions - Eureka Interiors";    
}

<h3>Terms and Conditions</h3>
    Eureka Interiors, the owner and operator of eurekainteriors.com, provides their services and information contained on this website to visitors subject to the terms and conditions set out in these website terms and conditions, the privacy policy and any other relevant terms and conditions, policies and notices which may be applicable to a specific section or module of this website. By subscribing to or using any of our services you agree that you have read and understood the terms and conditions and agree to be legally bound and abide by the terms set forth.
<h4>Introduction</h4>
    These terms and conditions shall govern your use of our website. By using our website, you accept these terms and conditions in full; accordingly, if you disagree with these terms and conditions or any part of these terms and conditions, you must not use our website.
<h4>Copyright Notice</h4>
    All content included on this site, such as text, graphics, logos, images, and software, is the property of eurekainteriors.com or its content and product suppliers and is protected by international copyright laws. You acknowledge and agree that you shall not use, reproduce or distribute any content from the website without obtaining written authorization from eurekainteriors.com.
<h4>Limited Warranties</h4>
    We do not warrant or represent:
    (a)	the completeness or accuracy of the information published on our website;
    (b)	that the material on the website is up to date
<h4>Assignment</h4>
    You hereby agree that we may assign, transfer, sub-contract or otherwise deal with our rights and/or obligations under these terms and conditions. 
<h4>Severability</h4>
    If a provision of these terms and conditions is determined by any court or other competent authority to be unlawful and/or unenforceable, the other provisions will continue in effect.
	If any unlawful and/or unenforceable provision of these terms and conditions would be lawful or enforceable if part of it were deleted, that part will be deemed to be deleted, and the rest of the provision will continue in effect.
<h4>Entire Agreement</h4>
    These website terms and conditions constitute the sole record of the agreement between you and customfurnish.com in relation to your use of the website. Neither you nor customfurnish.com shall be bound by any express tacit or implied representation, warranty, promise or the like not recorded herein. Unless otherwise specifically stated these website terms and conditions supersede and replace all prior commitments, undertakings or representations, whether written or oral, between you and customfurnish.com in respect of your use of the website.
<h4>Law and jurisdiction</h4>
    These terms and conditions shall be governed by and construed in accordance with laws of India.
	Any disputes relating to these terms and conditions shall be subject to the exclusive jurisdiction of the courts of High Court of Maharashtra.
